# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Данные и логи бота
data/users.json
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Docker
.docker/
*.dockerfile

# Docker Compose
docker-compose.override.yml